.cart {
  min-height: 100dvh;
  padding: 7em 2em;
  position: relative;

  &_container {
    display: flex;
    gap: 2em;
    position: relative;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &_items {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }

  &_null {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    min-height: 500px;
    width: 100%;
  }
}
