$pri_color: #fff;
$sec_color: #141212;

$darkest_color: #000;
$lightest_color: #fff;

$light_text_color: #fff;
$dark_text_color: #000;
$accent-color-cold: #00755f;

//Brand Colors
$brand_color_100: #f9b2aa;
$brand_color_200: #f28381;
$brand_color_300: #eb5349;
$brand_color_400: #e42520;
$brand_color: #db1600;
$brand_color_600: #c31400;
$brand_color_700: #a91100;
$brand_color_800: #8f0d00;
$brand_color_900: #750a00;

// $brand_color_100: #f2b0ac;
// $brand_color_200: #e68d89;
// $brand_color_300: #da6a66;
// $brand_color_400: #ce4743;
// $brand_color: #cc2118;
// $brand_color_600: #b31d15;
// $brand_color_700: #991812;
// $brand_color_800: #7f130e;
// $brand_color_900: #660e0b;

//Suport colors
$support_color_err: #cc0014;
$support_color_rght: #00aa64;
$support_color_mesg: #657ff0;

//Neutral colors
$neutral_color_900: #000000;
$neutral_color_700: #2c2c2c;
$neutral_color_600: #555555;
$neutral_color_500: #808080;
$neutral_color_400: #a9a9a9;
$neutral_color_300: #d3d3d3;
$neutral_color_100: #ffffff;
