.schedule {
  padding-top: 7em;

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;

    padding: 0 2em;

    p {
      text-align: center;
    }
  }
}
