@use "@/styles/_dirs/variables" as var;

.about {
  &_container {
    display: flex;
    justify-content: space-between;
    gap: 5em;
    padding: 7.25em 2em 4em 2em;
    min-height: 100dvh;

    @media (min-width: 1500px) {
      min-height: 500px;
    }

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &_image {
    flex: 1 1 40%;
    position: relative;

    @media (max-width: 1000px) {
      display: none;
    }

    .image {
      width: 48%;
      height: 70%;
      position: absolute;

      @media (max-width: 1000px) {
        position: relative;
        max-width: 200px;
        width: 100%;
        height: auto;
        aspect-ratio: 2/3;
      }

      &:first-child {
        bottom: 20px;
        left: 0;
      }

      &:last-child {
        top: 20px;
        right: 0;
      }
    }
  }

  &_info {
    flex: 1 1 60%;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;

    h1 {
      font-size: clamp(1.5em, 1.5em + 2vw, 4em);
      font-weight: 500;
      line-height: 1em;
    }

    p {
      font-size: 1.05em;
    }

    .info_quotes {
      background-color: #fff;
      border-radius: 0.5em;
      padding: 1.5em 2em;
      border-left: 5px solid var.$accent_color-cold;
      position: relative;
      box-shadow: 0 0 4px #0005;

      svg {
        position: absolute;
        top: -10px;
        left: 10px;
        font-size: 1.5em;
      }
    }

    .info_button {
      width: fit-content;
    }
  }
}
