@use "@/styles/_dirs/variables" as var;

.buy {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: sticky;
  top: 7em;
  margin: 0 auto;
  padding: 1em;
  max-width: 250px;
  width: 100%;
  height: fit-content;
  background: var.$pri_color;

  border-radius: 0.5em;
  box-shadow: 0 0 5px 1px #0005;

  @media (max-width: 768px) {
    flex-direction: row;
    align-items: center;
    max-width: 300px;
    top: auto;
    bottom: 0;
  }

  &_price {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;

    span {
      font-size: 1.25em;

      &:first-child {
        font-weight: bold;
        color: var.$brand_color;
      }
    }
  }

  &_button {
    flex: 1 1 50%;
  }
}
