@use "@/styles/_dirs/variables" as var;

.buy {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: sticky;
  top: 7em;
  margin: 0 auto;
  padding: 1em;
  max-width: 350px;
  width: 100%;
  height: fit-content;
  background: var.$neutral_color_200;
  border-radius: 0.25em;
  box-shadow: 0 0 5px 1px #0002;

  @media (max-width: 768px) {
    flex-direction: row;
    align-items: center;
    max-width: 300px;
    top: auto;
    bottom: 0;
  }

  &_body {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    .body_row {
      display: flex;
      justify-content: space-between;
    }
  }

  &_footer {
    border-top: 1px solid var.$neutral_color_500;
    padding-top: 1em;

    .total_row {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 1.25em;
      }
    }

    .footer_button {
      flex: 1 1 50%;
      margin-top: 1em;
    }
  }
}
