@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.link {
  display: inline-block;
  padding: .75em 1em;
  border-radius: 0.25em;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #000;
  transition: 0.25s ease-in-out;
  position: relative;
  width: 100%;
  background: var.$pri_color;
  text-align: center;

  > span {
    z-index: 5;
    transition: 0.15s ease-in-out;
    position: relative;
    font-size: 0.85em;
  }

  &::after {
    content: "";
    background: #000;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s ease-in-out;
  }

  @include mix.OnlyPc {
    &:hover {
      > span {
        color: var.$pri_text-color;
      }

      &:after {
        width: 100%;
        z-index: 1;
      }
    }
  }
}
