@use "@/styles/_dirs/variables" as var;

.contact {
  padding: 2em;
  padding-top: 7em;

  &_container {
    display: flex;
    box-shadow: 0 0 5px #0005;
    border-radius: 0.5em;
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background: #fff;
    padding: 2em 4em;
    border-radius: 0.5em 0 0 0.5em;
    max-width: 600px;
    width: 100%;

    @media (max-width: 900px) {
      max-width: none;
      border-radius: 0.5em;
    }

    h1 {
      text-align: center;
      span {
        color: var.$accent-color-warm;
      }
    }
  }

  &_break {
    span {
      display: flex;
      align-items: center;
      gap: 0.5em;
      color: lighten($color: var.$sec_color, $amount: 50);

      &:before,
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: lighten($color: var.$sec_color, $amount: 50);
      }
    }
  }

  &_phone {
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
    }
  }

  &_image {
    position: relative;
    width: 100%;

    @media (max-width: 900px) {
      display: none;
    }

    img {
      border-radius: 0 0.5em 0.5em 0;
    }
  }
}
