@use "@/styles/_dirs/variables" as var;

.about {
  padding: 6em 2em;

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    max-width: 700px;
    width: 100%;
    font-size: 2em;
    text-align: center;
  }
}
