@use "@/styles/_dirs/variables" as var;

.input {
  width: 100%;
  height: 100%;
  position: relative;

  input {
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 1em;
    border: 1px solid #000;
    background: transparent;

    &:focus,
    &:not(:placeholder-shown) {

      ~ label {
        translate: 0 -26px;
        font-size: 0.9em;
        font-weight: bold;
        padding: 0 0.5em;
        background: #fff;
      }
    }

    &:focus {
      outline-color: var.$accent-color;

      ~ label {
        color: var.$accent-color;
      }
    }
  }

  label {
    display: block;
    position: absolute;
    pointer-events: none;

    top: calc(50% - 10px);
    left: 12px;
    transition: 0.1s ease-in-out;
  }
}
